.Home {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5490c4;
}
h1 {
  padding: 2rem;
}
.home img {
  width: 30rem;
}
button h3 {
  height: 2rem;
  display: flex;
  align-items: center;
}
button {
  margin: 1rem;
}
button a {
  text-decoration: none;
  color: #5490c4;
}