.stock-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stock-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.stock-details {
  display: flex;
  flex-direction: column;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.back a{
  text-decoration: none;
  color: #007bff;
}
.label {
  font-weight: bold;
}
.value {
  color: #007bff;
}